* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: sans-serif;
}


header ul li::after{
   content: ''!important;
   width: 0%!important;
   height: 2px!important;
   background: #18d26e!important;
   display: block!important;
   margin: auto!important;
   transition: 0.5s!important;
}

header ul li:hover::after{
   width: 100%!important;
}

.main {
   margin-top: 110px;
   bottom: auto;
   opacity: 1;
   padding-bottom: 45px;
}

#about .about-section, #resume .resume  {
   top: 100px;
   bottom: auto;
   opacity: 1;
   padding-bottom: 45px;
}

#about .container, #counter .container, #skills .container, #interests .container, #testimonial .container{
   background: rgba(0, 0, 0, 0.9);
   padding: 30px;
}
.text-left h2::after {
   content: "";
   width: 120px;
   height: 1px;
   display: inline-block;
   background: #4ceb95;
   margin: 4px 10px;
}

.about-section .info-li li{
   color: #fff;
   padding-bottom: 20px;
}

.counter .count-box {
   padding: 30px 30px 25px 30px;
   width: 100%;
   position: relative;
   text-align: center;
   background: rgba(255, 255, 255, 0.08);
}
.counter .count-box i {
   position: absolute;
   top: -25px;
   left: 50%;
   transform: translateX(-50%);
   font-size: 24px;
   background: rgba(255, 255, 255, 0.1);
   padding: 12px;
   color: #18d26e;
   border-radius: 50px;
   line-height: 0;
}
.counter .count-box span {
   font-size: 36px;
   display: block;
   font-weight: 600;
   color: #fff;
}
.counter .count-box p {
   padding: 0;
   margin: 0;
   font-family: "Raleway", sans-serif;
   font-size: 14px;
   color: #fff;
}

.skills .progress {
   height: 60px;
   display: block;
   background: none;
   border-radius: 0;
}
.skills .progress .skill {
   padding: 10px 0;
   margin: 0;
   text-transform: uppercase;
   display: block;
   font-weight: 600;
   font-family: "Poppins", sans-serif;
   color: #fff;
}

.skills .progress .skill .val {
   float: right;
   font-style: normal;
}

.skills .progress-bar-wrap {
   background: rgba(255, 255, 255, 0.2);
}
.skills .progress-bar {
   width: 1px;
   height: 10px;
   transition: 0.9s;
   background-color: #18d26e;
}

.interests .icon-box {
   display: flex;
   align-items: center;
   padding: 20px;
   background: rgba(255, 255, 255, 0.08);
   transition: ease-in-out 0.3s;
}
.interests .icon-box i {
   font-size: 32px;
   padding-right: 10px;
   line-height: 1;
}
.interests .icon-box h3 {
   font-weight: 700;
   margin: 0;
   padding: 0;
   line-height: 1;
   font-size: 16px;
   color: #fff;
}
.testimonial .testimonial-item {
   /* box-sizing: content-box; */
   min-height: 320px;
}
.testimonial .testimonial-item p {
   font-style: italic;
   margin: 0 15px 0 15px;
   padding: 20px 20px 60px 20px;
   background: rgba(255, 255, 255, 0.1);
   position: relative;
   border-radius: 6px;
   z-index: 1;
}
.testimonial .testimonial-item .testimonial-img {
   width: 90px;
   border-radius: 50%;
   margin: -40px 0 0 40px;
   /* position: relative; */
   z-index: 2;
   border: 6px solid rgba(255, 255, 255, 0.12);
}
.testimonial .testimonial-item h3 {
   font-size: 18px;
   font-weight: bold;
   margin: 10px 0 5px 45px;
   color: #fff;
}
.testimonial .testimonial-item h4 {
   font-size: 14px;
   color: #999;
   margin: 0 0 0 45px;
}

@media (max-width: 992px) {
   header .navbar ul {
      align-items:flex-start;
   }
   header .navbar ul li {
      margin-left:0px;
}
}

