* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: sans-serif;
}

#contact .container{
   background: rgba(0, 0, 0, 0.9);
   padding: 30px;
}

.contact .info-box {
   color: #444444;
   padding: 20px;
   width: 100%;
   background: rgba(255, 255, 255, 0.08);
}

.contact .info-box i.bx {
   font-size: 24px;
   color: #18d26e;
   border-radius: 50%;
   padding: 14px;
   float: left;
   background: rgba(255, 255, 255, 0.1);
}
.contact .info-box h3 {
   font-size: 20px;
   color: rgba(255, 255, 255, 0.5);
   font-weight: 700;
   margin: 10px 0 8px 68px;
}
.contact .info-box p {
   padding: 0;
   color: #fff;
   line-height: 24px;
   font-size: 18px;
   margin: 0 0 0 68px;
}
.contact .info-box .social-links {
   margin: 5px 0 0 68px;
   display: flex;
}
.contact .info-box .social-links a {
   font-size: 18px;
   display: inline-block;
   color: #fff;
   line-height: 1;
   margin-right: 12px;
   transition: 0.3s;
}

.contact .details {
   padding: 30px;
   background: rgba(255, 255, 255, 0.08);
}
.contact .details input {
   padding: 10px 15px;
}

.contact .details, .contact .details textarea {
   border-radius: 0;
   box-shadow: none;
   font-size: 14px;
   background: rgba(255, 255, 255, 0.08);
   border: 0;
   transition: 0.3s;
   color: #fff;
}
.contact .details button[type=submit] {
   background: #18d26e;
   border: 0;
   padding: 10px 30px;
   color: #fff;
   transition: 0.4s;
   border-radius: 4px;
}
