* {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      font-family: sans-serif;
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: #040404;
    color: #fff;
    position: relative;
    background: transparent;
}
body::before{
    content: "";
    position: fixed;
    background: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(../img/precious.jpg)  no-repeat;
    background-size:cover;
    background-position: top;
    left: 0;
    right: 0;
    top: 0;
    height: 100vh;
    z-index: -1;
}

#header{
    transition: ease-in-out 0.3s;
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    z-index: 997;
    overflow-y: auto;
}
#header h1{
    font-size: 80px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
}
#header h1 a{
    color: #fff;
    line-height: 1;
    display: inline-block;
    text-decoration: none;
}
#header h2{
    font-size: 24px;
    margin-top: 40px;
    color: rgba(255, 255, 255, 0.8);
}
#header h2 span {
    color: #fff;
    border-bottom: 2px solid #18d26e;
    padding-bottom: 6px;
}
.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li {
    position: relative;
}
.navbar li + li {
    margin-left: 30px;
}
.navbar a {
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: space-between; */
    /* padding: 10px 10px 0px 10px; */
    padding: 0px !important;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
    white-space: nowrap;
    transition: 0.3s;
}

#header .social-links a {
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    line-height: 1;
    margin-right: 8px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
#header .social-links a:hover {
    background: #18d26e;
}

#header ul li::after{
    content: ''!important;
    width: 0%!important;
    height: 2px!important;
    background: #18d26e!important;
    display: block!important;
    margin: auto!important;
    transition: 0.5s!important;
}

#header ul li:hover::after{
    width: 100%!important;
}

#header .navbar-mobile ul {
    flex-wrap: wrap;
}



@media (min-width:1024px) {
    body::before {
        background-attachment: fixed;
    }   
}
