* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: sans-serif;
}


#service .container{
   background: rgba(0, 0, 0, 0.9);
   padding: 30px;
}

.service .icon-box {
   text-align: center;
   background: rgba(204, 204, 204, 0.1);
   padding: 80px 20px;
   transition: all ease-in-out 0.3s;
}
.service .icon-box .icon {
   margin: 0 auto;
   width: 64px;
   height: 64px;
   background: #18d26e;
   border-radius: 5px;
   transition: all 0.3s ease-out 0s;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-bottom: 20px;
   transform-style: preserve-3d;
}

.service .icon-box h4 {
   font-weight: 700;
   margin-bottom: 15px;
   font-size: 24px;
}
.service .icon-box p {
   line-height: 24px;
   font-size: 14px;
   margin-bottom: 0;
}
.service .icon-box h4 a {
   color: #fff;
   text-decoration: none;
}

@media (max-width: 427px) {
   .main{
      margin-top: 50px;
   }
}